<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Genel_Tekrar1.Properties.Settings.SporcuVeriTabaniConnectionString"
            connectionString="Data Source=MATEBOOK-13;Initial Catalog=SporcuVeriTabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>